<!DOCTYPE html>
<html>
<!-- head -->
<%- include('../partials/head') %>

    <body>
        <!-- header -->
        <%- include('../partials/partialsProducts/headerProducts') %>
            <section>
                <img src="/img/bannerTrueque.jpg" alt="Banner de ofertas" class="img-home-banner">
            </section>
            <main class="mainHome">
                <section class="container">
                    <div class="contentAllProducts">
                        <h3>Productos</h3>
                        <a href="/listProducts">
                            <i class="fas fa-bars"></i>
                        </a>
                    </div>
                    <button class="carruselBtn"><i class="fas fa-chevron-left"></i></button>
                    <% for(let i=0; i<4; i++){ %>

                        <article class="articleProduct">
                            <img src="/img/imgProducts/<%= products[i].mainImageUpload %>" alt="<%= products[i].productName %>" class="product_img">
                            <div class="text-card-product">
                                <i class="fas fa-truck"></i>
                                <p class="price">$<%= products[i].productPrice %></p>
                                <p class="discount">40% off</p>
                                <a href="/product/<%= products[i].id %> "><h4><%= products[i].productName %></h4></a>
                            </div>
                        </article>
                    <% } %>
                    <button class="carruselBtn"><i class="fas fa-chevron-right"></i></button>
                    <a href="/listProducts" class="allProducts">
                        <p>Ver todas</p>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </section>
                <section>
                    <div class="categories">
                        <label class="labelCategories" for="categories">Categorías</label>
                        <select name="categories" id="categories" class="formCategories">
                            <option value="">Hogar</option>
                            <option value="">Electrodomesticos</option>
                            <option value="">Deportes</option>
                        </select>
                    </div>
                    <button class="carruselBtn"><i class="fas fa-chevron-left"></i></button>
                    <% for(let i=4; i<8; i++){ %>

                        <article class="articleProduct">
                            <img src="/img/imgProducts/<%= products[i].mainImageUpload %>" alt="<%= products[i].productName %>" class="product_img">
                            <div class="text-card-product">
                                <i class="fas fa-truck"></i>
                                <p class="price">$<%= products[i].productPrice %></p>
                                <p class="discount">40% off</p>
                                <a href="/product/<%= products[i].id %> "><h4><%= products[i].productName %></h4></a>   
                            </div>
                        </article>
                    <% } %>
                    <button class="carruselBtn"><i class="fas fa-chevron-right"></i></button>
                    <button class="allProducts">
                        <p>Ver todas</p>
                        <i class="fas fa-chevron-right"></i>
                    </button>
                </section>

            </main>
            <!-- footer -->
            <%- include('../partials/partialsProducts/footerProducts') %>
    </body>

</html>