<!DOCTYPE html>
<html>
<!-- head -->
<%- include('../partials/head') %>

    <body>
        <!-- header -->
        <%- include('../partials/partialsProducts/headerProducts') %>
            <section>
                <img src="/img/banner8.png" alt="Banner de ofertas" class="img-home-banner">
            </section>
            <main class="mainHome">
                <section class="container">
                    <div class="contentAllProducts">
                        <h3>Productos</h3>
                        <a href="/listProducts" class="allProductsPc">
                            <i class="fas fa-bars"></i>
                        </a>
                    </div>
                    <button class="carruselBtn"><i class="fas fa-chevron-left"></i></button>
                    <% for(let i=0; i<4; i++){ %>
                        <%- include('../partials/partialsProducts/cardProduct', {product: products[i]}) %> 
                    <% } %>
                            <button class="carruselBtn"><i class="fas fa-chevron-right"></i></button>
                            <a href="/listProducts" class="allProducts">
                                <p>Ver todas</p>
                                <i class="fas fa-chevron-right"></i>
                            </a>
                </section>
                <section>
                    <div class="categories">
                        <label class="labelCategories" for="categories">Categorías</label>
                        <select name="categories" id="categories" class="formCategories">
                            <option value="vehiculos">Hogar</option>
                            <option value="hogar">Vehiculos</option>
                            <option value="electrodomesticos">Electrodomésticos</option>
                            <option value="inmobiliaria">Inmobiliaria</option>
                            <option value="electronica">Electrónica</option>
                            <option value="ropa"> Ropa y accesorios</option>
                            <option value="deportes">Deportes</option>
                            <option value="libros">Libros, revistas y comics</option>

                        </select>
                    </div>
                    <button class="carruselBtn"><i class="fas fa-chevron-left"></i></button>
                    <% for(let i=4; i<8; i++){ %>
                        <%- include('../partials/partialsProducts/cardProduct', {product: products[i]}) %> 
                    <% } %>
                    <button class="carruselBtn"><i class="fas fa-chevron-right"></i></button>
                    <a href="/listProducts" class="allProducts">
                        <p>Ver todas</p>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </section>

            </main>
            <!-- footer -->
            <%- include('../partials/partialsProducts/footerProducts') %>
    </body>

</html>