<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../partials/head') %>

    <body>
        <!-- header -->
        <%- include('../partials/partialsProducts/headerProducts') %>
        <main class="mainListProducts">
            <% products.forEach((product) => { %>
                <article class="articleProduct">
                    <img src="/img/imgProducts/<%= product.mainImageUpload %>" alt="<%= product.productName %>" class="product_img">
                    <div class="text-card-product">
                        <i class="fas fa-truck"></i>
                        <p class="price">$<%= product.productPrice %></p>
                        <p class="discount">40% off</p>
                        <h4><%= product.productName %></h4>
                    </div>
                </article>
            <% }) %>
        </main>
        <!-- footer -->
        <%- include('../partials/partialsProducts/footerProducts') %>
    </body>

</html>