<!DOCTYPE html>
<html>
<!-- head -->
<%- include('../partials/head') %>

    <body>
        <!-- header -->
        <%- include('../partials/partialsProducts/headerProducts') %>

            <main class="mainProduct">
                <h1><%= product.productName %></h1>
                <section class="content">
                    <section class="imagesList">
                        <% product.images.forEach(image => { %>
                            <img src="/img/imgProducts/<%= image.path %>" alt="Imagen" class="product_img">
                        <% }) %>
                    </section>

                    <section class="medSection">
                        <img src="/img/imgProducts/<%= product.images[0].path %>" alt="<%= product.productName %>">
                        <div class="buttonOptions">
                            <button class="addToCartButton" name="addToCartButton">Añadir al carrito</button>
                            <button class="offerExchangeButton" name="offerExchangeButton">Ofrecer cambio</button>
                        </div>
                    </section>

                    <section class="detailsProduct">
                        <article class="contentProduct">
                            <div class="supDetail">
                                <h3>Precio</h3>
                                <h4 class="priceProduct"> <%= product.productPrice %></h4>
                            </div>
                        </article>
                        
                        <article class="contentDescription">
                            <div class="supDetail">
                                <h3>Descripción</h3>
                                <i class="fas fa-chevron-down"></i>
                            </div>
                            <p>
                                <%= product.productDescriptionUpload %>
                            </p>
                        </article>

                        <article class="contentPolitic">
                            <div class="supDetail">
                                <h3>Política de devolución</h3>
                                <i class="fas fa-chevron-down"></i>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet quidem culpa harum quasi,
                                beatae
                                ratione quia iusto, modi commodi cum aspernatur? Soluta, nesciunt atque. Voluptates error
                                repellendus consectetur suscipit sapiente.
                                Accusantium ab quod quaerat? Et, fuga voluptatibus veritatis amet officiis dignissimos
                                voluptatem
                                beatae similique odit ipsum porro soluta ipsa ea autem. Aliquam cupiditate nemo unde aut
                                quae, quam
                                in voluptatem.
                                Sint ab laborum, corporis fugiat quidem tenetur repudiandae perferendis quaerat, ex repellat
                                voluptatibus atque quo maiores soluta amet totam? Molestias fuga at provident, excepturi
                                quisquam
                                nulla obcaecati? Quis, sed porro!
                            </p>
                        </article>
                        
                        <article class="contentQualification">
                            <div class="supDetail">
                                <h3>Calificación</h3>
                                <i class="fas fa-chevron-down"></i>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore sint obcaecati inventore
                                magni
                                molestias repellendus eligendi, consequuntur deleniti. Nostrum dolor, iure optio dolore
                                dignissimos
                                voluptatibus mollitia neque dolorem similique et?
                            </p>
                        </article>

                        <article class="contentReviews">
                            <div class="supDetail">
                                <h3>Reseñas</h3>
                                <i class="fas fa-chevron-down"></i>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam mollitia magni minima
                                voluptatibus,
                                officiis nemo delectus ipsa quia laudantium alias, molestiae sint iure inventore reiciendis
                                modi qui
                                vel quas iste.
                                Vero sapiente ipsam excepturi minima maiores voluptatibus voluptates asperiores. Reiciendis
                                odio aut
                                atque esse obcaecati ipsam repellat nam debitis facere. Modi odit nam et quaerat, inventore
                                reiciendis enim voluptates officia.
                            </p>
                        </article>
                    </section>
                </section>
            </main>
            <!-- footer -->
            <%- include('../partials/partialsProducts/footerProducts') %>
    </body>
</html>