<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('./partials/head', {title:title}) %>
<body>
    <!-- header -->
    <%- include('./partials/partialsUsers/headerUsers') %>
    <main class="mainAdmin">
        <table>
            <thead>
                <tr>
                    <td>Id</td>
                    <% if (!(typeof products == "undefined")) { %>                     
                        <td>Producto</td>
                        <td>Precio</td>
                        <td>Categoria</td>
                    <% } %>
                    <% if (!(typeof users == "undefined")) { %>                     
                        <td>Nombre</td>
                        <td>Apellido</td>
                        <td>Correo</td>
                    <% } %>
                    <td>Acciones</td>
                </tr>
            </thead>
            <tbody>
                <% if (!(typeof products == "undefined")) { %>
                <% products.forEach(product => { %>
                    <tr>
                        <td><%= product.id %></td>
                        <td><%=product.productName %></td>
                        <td><%=product.productPrice %></td>
                        <td><%=product.listCategoriesProduct %></td>
                        <td>
                            <form action="/products/edit/<%= product.id %>" method="get">
                                <input type="hidden" name="id" value="<%= product.id %>">
                                <button type="submit"><i class="fas fa-edit"></i></i></button>
                            </form>
                            <form method="post" action="/products/delete/<%= product.id %>?_method=DELETE">
                                <button type="submit"><i class="far fa-trash-alt"></i></button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
                <% } %>
                <% if (!(typeof users == "undefined")) { %>
                    <% users.forEach(user => { %>
                        <tr>
                            <td><%= user.id %></td>
                            <td><%=user.name %></td>
                            <td><%=user.lastName %></td>
                            <td><%=user.email %></td>
                            <td>
                                <form action="/users/edit/<%= user.id %>" method="get">
                                    <input type="hidden" name="id" value="<%= user.id %>">
                                    <button type="submit"><i class="fas fa-edit"></i></i></button>
                                </form>
                                <form method="post" action="/users/delete/<%= user.id %>?_method=DELETE">
                                    <button type="submit"><i class="far fa-trash-alt"></i></button>
                                </form>
                            </td>
                        </tr>
                    <% }) %>
                    <% } %>
            </tbody>
        </table>
    </main>
    <!-- footer -->
    <%- include('./partials/partialsUsers/footerUsers') %>
</body>
</html>