<!DOCTYPE html>
<html>
<!-- head -->
<%- include('../partials/head') %>

    <body>
        <!-- header -->
        <%- include('../partials/partialsUsers/headerUsers') %>

            <main class="mainProduct">

                <section class="currentProduct">
                    <section class="productSectionImageAndButtons">
                        <section>
                            <h2>
                               Hola <%= user.dataValues.name %>!
                            </h2>
                            <div class="currentProductImage">
                                <img src="/img/imgUsers/<%= user.dataValues.avatar %>" class="product_img">
                            </div>
                            <section class="productButtonsDesktop">
                                <a href="/users/edit">Editar Perfil</a>
                            </section>
                        </section>
                    </section>
                </section>

                </section>

                <section class="optionsProducts">
                    <article class="priceProduct">
                        <h3>Nombre(s)</h3>
                        <p class="priceProduct">
                            <%= user.dataValues.name %>
                        </p>
                    </article>
                    <article class="priceProduct">
                        <h3>Apellido(s)</h3>
                        <p class="priceProduct">
                            <%= user.dataValues.lastName %>
                        </p>
                    </article>
                    <article class="priceProduct">
                        <h3>Email</h3>
                        <p class="priceProduct">
                            <%= user.dataValues.email %>
                        </p>
                    </article>
                </section>

            </main>
            <!-- footer -->
            <%- include('../partials/partialsUsers/footerUsers') %>
    </body>

</html>