<!DOCTYPE html>
<html>
<!-- head -->
<%- include('../partials/head') %>

    <body>
        <!-- header -->
        <%- include('../partials/partialsUsers/headerUsers') %>

            <main id="mainUserProfile">
                <div class="container-profile"> 
                    <section>
                        <section>
                            <section>
                                <h2>
                                    Hola <%= user.name%>!!!
                                </h2>
                                <div>
                                    <img src="/img/imgUsers/<%= user.avatar %>" class="profile">
                                </div>
                            </section>
                        </section>
                    </section>

                    </section>

                    <section>
                        <article>
                            <h3>Nombre(s):</h3>
                            <p>
                                <%= user.name %>
                            </p>
                        </article>
                        <article>
                            <h3>Apellido(s):</h3>
                            <p>
                                <%= user.lastName %>
                            </p>
                        </article>
                        <article>
                            <h3>Correo electrónico:</h3>
                            <p>
                                <%= user.email %>
                            </p>
                        </article>
                    </section>
                    <section>
                        <a href="/users/edit">Editar perfil</a>
                    </section>
                </div>

            </main>
            <!-- footer -->
            <%- include('../partials/partialsUsers/footerUsers') %>
    </body>

</html>