<!DOCTYPE html>
<html>
<!-- head -->
<%- include('../partials/head') %>

    <body>
        <!-- header -->
        <%- include('../partials/partialsUsers/headerUsers') %>

            <main id="mainUserProfile">
                <div class="container-profile"> 
                    <section>
                        <section>
                            <section>                                
                                <h2>
                                    <% if (locals.user) { %>
                                        <% if (locals.user.email == userData.email) { %>
                                            Hola <%= userData.name%>!!!
                                        <% } %>
                                    <% } %>
                                </h2>
                                <div>
                                    <img src="/img/imgUsers/<%= userData.avatar %>" class="profile">
                                </div>
                            </section>
                        </section>
                    </section>

                    </section>

                    <section>
                        <article>
                            <h3>Nombre(s):</h3>
                            <p>
                                <%= userData.name %>
                            </p>
                        </article>
                        <article>
                            <h3>Apellido(s):</h3>
                            <p>
                                <%= userData.lastName %>
                            </p>
                        </article>
                        <article>
                            <h3>Correo electrónico:</h3>
                            <p>
                                <%= userData.email %>
                            </p>
                        </article>
                    </section>
                    <section>
                        <% if (locals.user) { %>
                            <% if (locals.user.email == userData.email) { %>
                                <a href="/users/edit">Editar perfil</a>
                            <% } %>
                        <% } %>
                    </section>
                </div>

            </main>
            <!-- footer -->
            <%- include('../partials/partialsUsers/footerUsers') %>
    </body>

</html>